# Pandas

Pandas is open-source Python library which is used for data manipulation and analysis.
It consist of data structures and functions to perform efficient operations on data. It is well-suited for working with tabular data such as spreadsheets or SQL tables.

In [ ]:
# To install pandas
#pip install pandas

In [ ]:
# Importing Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.2.3'

## Data Structures in Pandas Library

Pandas provide two data structures for manipulating data which are as follows:

### 1. Pandas Series

A Pandas Series is one-dimensional labeled array capable of holding data of any type (integer, string, float, Python objects etc.). The axis labels are collectively called indexes.

### Create first pandas series

In [3]:
number_series = pd.Series([2, 3, 4, 5])
print(number_series)

0    2
1    3
2    4
3    5
dtype: int64

In [4]:
number_series = pd.Series([2, 3, 4, 5], index = ['a', 'b', 'c', 'd'], name = 'Number')
print(number_series)

a    2
b    3
c    4
d    5
Name: Number, dtype: int64

### accessing pandas series element

In [5]:
print(number_series['c'])  # accessing element with the help of index given by us
print(number_series[3])  # accesing element with the help of index
print(number_series.iloc[1])

4
5
3

C:\Users\91880\AppData\Local\Temp\ipykernel_13512\895083068.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(number_series[3])  # accesing element with the help of index

# 2. Pandas DataFrame
Pandas DataFrame is a two-dimensional data structure with labeled axes (rows and columns).

![PandasDataframe.webp]()

In [ ]:
# creating our first DataFrame using 2-D Numpy Array

In [6]:
twod_array = np.random.randint(2, 10,(3,4))
twod_array

array([[2, 6, 8, 9],
       [6, 3, 5, 2],
       [9, 6, 5, 4]], dtype=int32)

In [7]:
twod_array = np.random.randint(2, 10,(3,4))
first_dataframe = pd.DataFrame(twod_array, columns =['Akshay', 'Devashish', 'Divy', 'Monika'], index =['a','b','c'])
first_dataframe

   Akshay  Devashish  Divy  Monika
a       3          3     8       6
b       4          4     2       4
c       7          7     9       8

In [8]:
# Initialise list of lists
list_of_lists = [['Ashu', 10], ['Raghav',20], ['Shailja',30]]

# create the pandas dataframe
df = pd.DataFrame(list_of_lists, columns=['Name','Age'])

# print dataframe
df

      Name  Age
0     Ashu   10
1   Raghav   20
2  Shailja   30

In [ ]:
# creating dataframe using Dictionary of lists(column wise) --- Dictionary of Lists must have equal-length lists:
import pandas as pd

# store the data in the dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'London', 'Paris']
}

# create dataframe
df = pd.DataFrame(data)

#print datframe
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris

# Methods of pandas for data manipulation and analysis

In [ ]:
our_array = np.random.randn(100,5)
our_array

array([[-1.24489341e-01, -2.02179799e+00, -2.70777934e-01,
         1.17159677e+00,  5.30634535e-01],
       [-4.77946560e-01, -1.08254402e-01, -9.88076970e-01,
         6.65639441e-01,  7.04955948e-01],
       [ 1.14578445e+00,  3.70325308e-01, -6.25844418e-01,
        -1.89382591e+00, -2.23069155e+00],
       [-1.00587005e+00, -4.23197570e-01,  9.38424541e-01,
        -1.50477860e+00,  1.73050339e-01],
       [-1.14023314e+00, -5.65317033e-01,  1.36936767e-01,
        -9.76183233e-01,  1.12601797e+00],
       [ 8.05516051e-01,  1.07318423e+00, -7.06440120e-01,
        -3.36526197e-01,  6.28075560e-02],
       [-1.24809257e+00,  7.55643532e-01,  2.36134934e-01,
         3.94162533e-01, -4.11285801e-01],
       [-1.91625845e-01,  1.23458532e+00,  2.85707329e-01,
        -4.01528286e-01,  2.36275597e+00],
       [ 6.32299693e-01,  9.91539859e-01, -6.37640832e-01,
         5.16964397e-01,  5.13413376e-01],
       [ 1.45335718e-01, -7.74353871e-01, -5.13804643e-01,
        -3.33694771e-02,  4.91090427e-01],
       [-1.60775476e+00,  1.31409388e+00, -1.79615637e+00,
        -1.72663913e-01, -2.68976855e-01],
       [ 6.02709899e-01, -1.93110560e+00,  9.84690285e-01,
         2.37303456e+00, -7.57872019e-01],
       [-2.96744663e+00, -4.97060352e-01,  1.80187232e+00,
        -5.04386203e-01, -6.13517403e-02],
       [-1.63553856e-01,  3.39539988e+00, -1.98173170e+00,
         7.03453001e-01, -2.54061469e-01],
       [ 1.19499093e-01,  1.39036990e+00,  2.43173187e-01,
        -1.45269020e+00,  4.44021027e-01],
       [ 2.12845658e-01, -1.73685361e+00,  8.73000404e-01,
         5.73836543e-01, -2.33317771e+00],
       [-7.75985801e-01,  2.55625377e-01,  1.52506176e+00,
         3.70703128e-01, -3.28671620e-01],
       [-9.08802555e-01,  1.66646930e-01, -2.13413238e-01,
        -2.58295047e-01,  5.81706931e-01],
       [-3.01147277e+00,  8.56894140e-01,  1.25302968e+00,
        -7.31727493e-01, -1.00136174e+00],
       [ 6.00642092e-01,  8.05303757e-03,  7.69613291e-01,
         1.24504952e+00, -2.22668343e+00],
       [ 2.39347021e+00,  4.84101778e-01,  1.21466765e+00,
         2.33844065e-01, -5.29405952e-01],
       [ 4.78609178e-01, -7.14915142e-01,  2.42440063e-01,
        -3.18725699e+00,  8.62339860e-01],
       [ 2.54965576e-01, -1.72470441e+00,  4.40013413e-01,
        -7.28437055e-02, -3.33253206e-01],
       [ 4.83304147e-01,  6.14207749e-01, -1.03153048e+00,
        -1.27621680e-01,  1.32720766e+00],
       [-4.84928422e-01,  8.16930268e-01,  7.30143937e-01,
         7.38948776e-01, -4.87892223e-02],
       [-1.06665340e+00, -2.22046298e+00,  6.62375031e-01,
         1.19040126e+00, -7.38550831e-01],
       [-9.32765404e-01,  6.56145776e-01,  3.23783779e-01,
        -2.73545500e-01,  1.26504818e+00],
       [-1.36336887e+00,  1.70952390e-01, -8.79953659e-01,
         3.31469585e-01,  7.38156995e-01],
       [-5.50945251e-01, -7.55462153e-01,  1.09231388e-01,
        -1.95816330e-01,  7.20176463e-01],
       [ 7.55640608e-01, -1.51565196e+00, -2.23181189e-01,
         9.33857957e-01,  9.70856850e-01],
       [-1.23204521e+00,  7.02473286e-01,  8.91558570e-01,
         2.65056408e-01,  1.20915903e+00],
       [-1.72792714e+00, -8.54994697e-02,  3.06412157e-01,
         1.50083851e-01, -9.82548936e-02],
       [-9.39493194e-01, -4.67412557e-01,  6.50274839e-01,
        -8.61703141e-01, -7.65855582e-01],
       [ 1.46621499e+00,  2.40908953e+00, -9.03247470e-01,
         1.03862398e+00,  2.92098657e-01],
       [-5.68187749e-01, -1.02651706e+00, -1.12342263e+00,
         1.51514466e+00,  1.01342494e-01],
       [-1.09146076e+00,  1.08335801e+00, -3.04652309e-01,
        -1.12032007e+00,  1.28584705e+00],
       [-1.04080354e-01, -8.25704731e-02,  1.88533296e+00,
        -1.28181682e-02,  4.46925330e-01],
       [ 6.07572111e-01, -1.28663292e+00,  4.59588516e-01,
         1.87961485e-01, -6.12857290e-01],
       [ 7.37368781e-01, -2.26443619e-01,  8.46757347e-01,
        -3.51027404e-01, -2.12491584e+00],
       [-4.28815065e-01, -7.36732905e-01, -1.38396082e+00,
         9.35437397e-02,  1.93250660e-01],
       [-1.78592168e+00,  3.85204338e-01,  1.79227747e+00,
         2.38482498e+00,  6.76639319e-01],
       [-4.91822555e-01, -1.28561427e+00, -1.78652375e+00,
         1.41114182e+00,  1.34516324e-01],
       [ 1.79949860e+00,  1.37518434e+00,  5.72800254e-01,
         1.03610847e+00,  1.66262756e+00],
       [-1.13454417e+00,  5.69862462e-01, -1.65691527e-01,
        -2.17146458e+00, -4.60053581e-02],
       [ 1.88857382e+00,  6.73290872e-02,  1.01605709e+00,
        -1.26048828e+00, -3.20319151e-01],
       [ 1.87620630e-01, -4.69990238e-01, -7.79168979e-01,
        -3.25770620e-02,  7.53178735e-01],
       [ 3.46371134e-02,  4.39509695e-01,  1.01944858e+00,
        -2.71487912e-01,  1.74855926e-01],
       [-6.92707361e-01,  9.46583673e-01, -1.84777942e-01,
         3.22422519e-01, -1.71084309e-01],
       [ 1.95745143e-02, -7.72092077e-01,  2.52755390e-02,
         1.55959353e-01, -2.58732581e-01],
       [-5.12004216e-02, -1.58513823e-01, -1.15381255e+00,
        -6.69550621e-01, -2.69514503e-01],
       [ 3.78103298e-01,  7.63374593e-01,  1.64977581e-01,
         1.26400800e+00,  8.03794250e-01],
       [ 2.69787199e-01, -6.08304410e-01, -5.15237147e-01,
        -4.66254720e-01,  3.63207411e-01],
       [-5.62011710e-01,  9.33082352e-01,  1.35899210e+00,
        -2.74002965e-01,  1.09675722e+00],
       [ 1.11287912e+00,  7.75688926e-01, -1.09270183e+00,
         8.55795447e-01, -1.18549873e+00],
       [-3.84592860e-01,  5.88189601e-01,  8.18953256e-01,
         2.91119683e-01, -6.72234526e-02],
       [ 1.05551314e+00,  2.11554522e+00,  1.07986661e-01,
         1.51804676e-01, -7.68363591e-01],
       [ 1.23498895e-01,  4.49700745e-01,  3.23688534e-01,
         4.65715025e-01,  2.63130781e-01],
       [ 1.95551738e-01,  1.15658302e+00, -1.53816669e-01,
        -8.41523779e-01, -6.19315498e-01],
       [ 1.29909844e+00, -4.16558585e-01, -9.20497348e-02,
        -1.81875147e-01,  8.55391262e-02],
       [-8.39307112e-01,  5.84469945e-01, -1.61560002e+00,
        -6.89123753e-01,  2.76634889e+00],
       [-1.10208358e+00,  5.33992322e-01,  8.01129266e-02,
         6.26587334e-01, -9.41841498e-01],
       [ 2.21214303e+00, -3.67350296e-01,  5.19127637e-02,
         1.37063815e+00, -1.69712289e+00],
       [-1.01270708e+00,  5.11880829e-01, -1.10586528e+00,
         6.39626806e-01, -1.58317054e-02],
       [-2.44192614e+00, -8.66629994e-02, -8.29080773e-01,
        -2.18507744e+00, -8.53149126e-01],
       [ 7.86813441e-01,  1.28346113e-01,  4.93159132e-01,
        -1.04923927e+00,  4.98428083e-01],
       [ 2.10356768e+00,  4.96214598e-01, -2.36969423e-01,
         2.71568135e-01,  5.00052138e-01],
       [-1.11612519e+00,  1.65617661e-01, -1.10797890e+00,
        -3.81172988e-01,  1.03828241e+00],
       [-9.46816531e-01, -7.01347180e-01,  6.02663047e-01,
         9.93855413e-01, -1.17698911e+00],
       [ 1.02614923e+00, -1.75965710e-01,  1.18126096e-01,
         8.12142099e-01, -1.20236134e+00],
       [ 5.66696968e-01, -8.33516786e-01,  1.34396686e+00,
        -1.02997743e+00,  7.07652349e-01],
       [ 5.45106918e-02,  1.22344836e+00, -4.67945758e-02,
        -1.21930043e+00, -4.67332543e-01],
       [ 1.47821773e+00,  8.20887599e-01,  1.29185655e+00,
         6.32626113e-01, -3.38292942e-01],
       [-7.90771542e-01, -1.16165655e+00, -1.45989697e-01,
         2.13914774e+00,  5.48916854e-01],
       [-3.61977345e-01,  4.15393863e-01,  9.48395072e-01,
        -1.67697055e+00,  4.70915889e-01],
       [ 4.46789344e-01,  2.05758118e+00,  5.49694987e-04,
         9.54566514e-01,  1.10792828e+00],
       [ 1.75644884e-02,  1.41726463e+00, -3.71252337e-01,
        -1.62173729e-01,  8.21694157e-01],
       [ 9.05035508e-01, -1.07870025e+00,  2.77778687e+00,
        -9.63856966e-01,  4.78751266e-01],
       [-1.50808227e+00,  2.01772799e+00, -3.06450562e-01,
         2.85193907e-01,  7.95219309e-03],
       [-2.64199597e-01, -7.45176170e-02,  1.09160071e+00,
        -9.74970567e-01,  2.47879040e-01],
       [ 1.19666832e+00,  3.84485190e-01,  4.39367638e-01,
         4.14431022e-01, -1.00715644e+00],
       [ 1.53126307e+00, -2.69961115e-02, -8.77245406e-01,
        -2.25250869e-01, -4.17046152e-01],
       [-7.86187201e-01, -6.90511888e-01, -1.87815061e+00,
        -1.87343173e-01,  1.34495049e+00],
       [-1.18543155e-01,  1.86079643e+00,  7.57220529e-01,
        -1.77184327e-01, -1.55533111e+00],
       [ 2.77272313e-01, -5.84026107e-02, -1.10646981e+00,
         9.08452618e-01, -3.17821638e-01],
       [-1.09001440e+00, -9.55783049e-01, -1.47281828e+00,
        -4.74241056e-01,  6.91981419e-01],
       [-1.41706959e+00, -5.12128647e-01, -3.90647382e-01,
         2.19865290e-01,  3.58526700e-01],
       [-7.82522382e-01,  2.48570591e-01,  1.67851327e+00,
         8.09761923e-01,  7.32353651e-01],
       [ 1.42097830e+00,  1.65759620e+00,  2.06550818e+00,
         1.57101465e-01, -1.05778764e+00],
       [-1.52216578e+00, -1.19477588e+00, -1.20505476e+00,
         3.00586435e-01, -4.77175163e-01],
       [-5.03741906e-01, -3.85969678e-01,  1.31764549e+00,
         2.58610073e-01, -2.84639046e-01],
       [-1.42017552e-01,  1.40878426e+00,  1.82721667e+00,
        -1.01906167e+00,  5.76565586e-01],
       [ 7.48193723e-01,  1.54926259e+00, -2.00366588e-01,
         1.33967276e+00, -8.91645268e-01],
       [-1.43121333e-01, -1.16610717e+00, -5.70162532e-01,
        -1.00604703e+00,  8.11522144e-01],
       [ 1.02949130e+00,  2.18590340e+00, -6.28504112e-01,
        -5.74626522e-01,  1.87166243e+00],
       [ 1.03767497e+00,  3.95854375e+00,  6.60879558e-01,
        -1.77273974e+00, -1.34276433e+00],
       [-5.00796815e-01, -8.92821015e-01,  1.47908196e-01,
         1.89250033e+00, -7.27722526e-01],
       [ 6.61015714e-01,  5.03653394e-01,  9.57323314e-01,
         1.30573579e+00, -6.38842167e-01],
       [-1.05739901e+00,  3.62031323e-01, -1.07923935e+00,
        -5.44287551e-01, -8.17043347e-01],
       [-4.75908397e-01, -3.28931884e-01,  1.74003691e+00,
         8.64116793e-02,  1.24007768e+00],
       [ 1.32567366e-01,  1.15481113e+00,  5.83634992e-01,
         1.07641043e-01,  1.15229663e+00]])

In [9]:
import numpy as np
import pandas as pd

our_array = np.random.randn(100,5)
df = pd.DataFrame(our_array, columns = ['A', 'B', 'C', 'D', 'E'])
df

           A         B         C         D         E
0   1.431881  0.532178 -0.363303 -1.661186  0.033682
1  -0.402145 -0.641325 -0.210687  0.699959 -0.604058
2   0.295977 -0.374869 -1.822413 -0.550956 -1.071865
3  -0.576437 -0.811250  0.974888 -0.435470 -0.725578
4  -0.040426  0.574809  0.000565 -0.201163  0.309197
..       ...       ...       ...       ...       ...
95 -0.277405  0.117368  1.257312  0.740777  1.486476
96 -0.562853  0.330775 -0.117912  1.229922 -1.843268
97  0.099872 -0.407516  1.182059 -0.524704  0.981179
98  1.560868 -0.785067 -3.665755  0.827674 -0.500284
99 -0.745203  0.389314 -1.213565  2.271936 -1.306410

[100 rows x 5 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       100 non-null    float64
 1   B       100 non-null    float64
 2   C       100 non-null    float64
 3   D       100 non-null    float64
 4   E       100 non-null    float64
dtypes: float64(5)
memory usage: 4.0 KB

In [11]:
df.describe()  #Statistical summary

                A           B           C           D           E
count  100.000000  100.000000  100.000000  100.000000  100.000000
mean     0.088571   -0.007571    0.219501    0.068031   -0.202492
std      0.947446    0.781043    1.009636    0.975418    1.025287
min     -2.060763   -1.882807   -3.665755   -2.541319   -2.267825
25%     -0.566249   -0.580815   -0.470892   -0.528126   -1.061951
50%     -0.030353   -0.020641    0.220133   -0.008092   -0.251054
75%      0.748305    0.514983    0.977475    0.728340    0.657023
max      2.419772    1.802128    2.621482    2.672828    2.388957

In [12]:
df.head() #  by default it prints 5 values
df.head(14)

           A         B         C         D         E
0   1.431881  0.532178 -0.363303 -1.661186  0.033682
1  -0.402145 -0.641325 -0.210687  0.699959 -0.604058
2   0.295977 -0.374869 -1.822413 -0.550956 -1.071865
3  -0.576437 -0.811250  0.974888 -0.435470 -0.725578
4  -0.040426  0.574809  0.000565 -0.201163  0.309197
5   0.391416 -0.846126  1.822586  1.617757  0.810515
6  -0.791211 -0.730367  2.115742  0.898632 -1.671895
7  -0.232403 -0.580766  0.196348 -0.675593  0.713242
8  -0.274567 -0.343135 -1.272406 -1.598042 -1.229815
9   0.280893 -0.285547  0.017359 -0.286196 -1.439689
10  1.301085  0.214045  0.358605  0.342441  0.338724
11 -0.991443 -0.212527 -1.025623 -0.663377 -0.091549
12 -0.789832  1.034817  0.849165  1.680535  0.249179
13  1.528832  1.066888 -0.325732  0.880777 -0.253991

In [13]:
df.tail()  # by default it prints 5 values
df.tail(15)

           A         B         C         D         E
85  1.165689 -0.392672 -0.381672 -0.130786 -0.209728
86 -0.816065 -0.826278 -0.412245 -0.538394  1.715297
87  0.494238 -0.178063  1.081667 -0.618253  0.833140
88 -0.039404  0.661559 -0.342178  0.951827  0.203711
89 -0.021303 -0.054374 -0.446370  0.498382 -0.432172
90  0.351626 -0.766530 -0.624959 -2.541319  1.624317
91 -0.951252 -0.052268  0.531741  0.026210 -1.058647
92  1.796451 -1.258974 -1.778619 -1.103819 -0.301192
93 -0.305970  0.008896  0.142915  0.300861  1.432547
94 -0.826490 -0.067755  0.083725 -1.053724 -0.553878
95 -0.277405  0.117368  1.257312  0.740777  1.486476
96 -0.562853  0.330775 -0.117912  1.229922 -1.843268
97  0.099872 -0.407516  1.182059 -0.524704  0.981179
98  1.560868 -0.785067 -3.665755  0.827674 -0.500284
99 -0.745203  0.389314 -1.213565  2.271936 -1.306410

In [14]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [15]:
df.rename(columns = {'A': "Column1", "E":"Column5"})

     Column1         B         C         D   Column5
0   1.431881  0.532178 -0.363303 -1.661186  0.033682
1  -0.402145 -0.641325 -0.210687  0.699959 -0.604058
2   0.295977 -0.374869 -1.822413 -0.550956 -1.071865
3  -0.576437 -0.811250  0.974888 -0.435470 -0.725578
4  -0.040426  0.574809  0.000565 -0.201163  0.309197
..       ...       ...       ...       ...       ...
95 -0.277405  0.117368  1.257312  0.740777  1.486476
96 -0.562853  0.330775 -0.117912  1.229922 -1.843268
97  0.099872 -0.407516  1.182059 -0.524704  0.981179
98  1.560868 -0.785067 -3.665755  0.827674 -0.500284
99 -0.745203  0.389314 -1.213565  2.271936 -1.306410

[100 rows x 5 columns]

In [16]:
df

           A         B         C         D         E
0   1.431881  0.532178 -0.363303 -1.661186  0.033682
1  -0.402145 -0.641325 -0.210687  0.699959 -0.604058
2   0.295977 -0.374869 -1.822413 -0.550956 -1.071865
3  -0.576437 -0.811250  0.974888 -0.435470 -0.725578
4  -0.040426  0.574809  0.000565 -0.201163  0.309197
..       ...       ...       ...       ...       ...
95 -0.277405  0.117368  1.257312  0.740777  1.486476
96 -0.562853  0.330775 -0.117912  1.229922 -1.843268
97  0.099872 -0.407516  1.182059 -0.524704  0.981179
98  1.560868 -0.785067 -3.665755  0.827674 -0.500284
99 -0.745203  0.389314 -1.213565  2.271936 -1.306410

[100 rows x 5 columns]

In [18]:
df.rename(columns = {'A': "Column1", "E":"Column5"}, inplace = True)

In [19]:
df

     Column1         B         C         D   Column5
0   1.431881  0.532178 -0.363303 -1.661186  0.033682
1  -0.402145 -0.641325 -0.210687  0.699959 -0.604058
2   0.295977 -0.374869 -1.822413 -0.550956 -1.071865
3  -0.576437 -0.811250  0.974888 -0.435470 -0.725578
4  -0.040426  0.574809  0.000565 -0.201163  0.309197
..       ...       ...       ...       ...       ...
95 -0.277405  0.117368  1.257312  0.740777  1.486476
96 -0.562853  0.330775 -0.117912  1.229922 -1.843268
97  0.099872 -0.407516  1.182059 -0.524704  0.981179
98  1.560868 -0.785067 -3.665755  0.827674 -0.500284
99 -0.745203  0.389314 -1.213565  2.271936 -1.306410

[100 rows x 5 columns]

# Loading a csv file

In [20]:
import pandas as pd
import numpy as np
df = pd.read_csv("Iris.csv")
#df = pd.read_csv("C:/Users/Dell/JupyterPythoncodes/Iris.csv")

In [21]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [9]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [11]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [12]:
df['Species']
#df.Species

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [22]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [23]:
df['PetalLengthCm'].unique()

array([1.4, 1.3, 1.5, 1.7, 1.6, 1.1, 1.2, 1. , 1.9, 4.7, 4.5, 4.9, 4. ,
       4.6, 3.3, 3.9, 3.5, 4.2, 3.6, 4.4, 4.1, 4.8, 4.3, 5. , 3.8, 3.7,
       5.1, 3. , 6. , 5.9, 5.6, 5.8, 6.6, 6.3, 6.1, 5.3, 5.5, 6.7, 6.9,
       5.7, 6.4, 5.4, 5.2])

In [24]:
df['PetalLengthCm'].nunique()

43

In [25]:
df["SepalLengthCm"].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [26]:
dir(df["SepalLengthCm"])

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__firstlineno__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_cacher',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [27]:
df[["SepalLengthCm","SepalWidthCm","PetalLengthCm"]]

     SepalLengthCm  SepalWidthCm  PetalLengthCm
0              5.1           3.5            1.4
1              4.9           3.0            1.4
2              4.7           3.2            1.3
3              4.6           3.1            1.5
4              5.0           3.6            1.4
..             ...           ...            ...
145            6.7           3.0            5.2
146            6.3           2.5            5.0
147            6.5           3.0            5.2
148            6.2           3.4            5.4
149            5.9           3.0            5.1

[150 rows x 3 columns]

In [ ]:
df["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
df["Species"].nunique()

3

In [28]:
# I only want to see the "setosa" records from the dataset(filter)

df[df['Species'] == "Iris-setosa"]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
27  28            5.2           3.5            1.5           0.2  Iris-setosa
28  29            5.2           3.4            1.4           0.2  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
30  31            4.8           3.1            1.6           0.2  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa
34  35            4.9           3.1            1.5           0.1  Iris-setosa
35  36            5.0           3.2            1.2           0.2  Iris-setosa
36  37            5.5           3.5            1.3           0.2  Iris-setosa
37  38            4.9           3.1            1.5           0.1  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
39  40            5.1           3.4            1.5           0.2  Iris-setosa
40  41            5.0           3.5            1.3           0.3  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
43  44            5.0           3.5            1.6           0.6  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa
45  46            4.8           3.0            1.4           0.3  Iris-setosa
46  47            5.1           3.8            1.6           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa
48  49            5.3           3.7            1.5           0.2  Iris-setosa
49  50            5.0           3.3            1.4           0.2  Iris-setosa

In [13]:
# sepal_length >=5 --df
df[df['SepalLengthCm'] >= 5]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
10,11,5.4,3.7,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
df[df['SepalLengthCm'] >= 5].min()
df[df['SepalLengthCm'] >= 5].max()

Id                          150
SepalLengthCm               7.9
SepalWidthCm                4.4
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
dtype: object

In [14]:
df[df['PetalWidthCm'] == 0.4]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
5    6            5.4           3.9            1.7           0.4  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa

In [ ]:
len(df[df['PetalWidthCm'] == 0.4])

7

In [ ]:
# EDA -- Exploratory data analysis

In [ ]:
df[(df['Species'] == "Iris-setosa") & (df["SepalWidthCm"] >= 3.9)]  #can also use and

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
5    6            5.4           3.9            1.7           0.4  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa

In [ ]:
# HomeWork

# Home Work

Download any dataset from Kaggle that consumes less memory, use all methods discused in today's session, create a small documentation(use markdown or raw text) of what you understand with the dataset.