In [ ]:
import pandas as pd

# Reading CSV
df = pd.read_csv("car_data.csv")
print("First 5 rows of CSV:")
print(df.head())

# Writing CSV
df.to_csv("output.csv", index=False)  # index=False prevents saving row numbers
print("CSV file saved successfully!")

First 5 rows of CSV:
  Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0     ritz  2014           3.35           5.59       27000    Petrol
1      sx4  2013           4.75           9.54       43000    Diesel
2     ciaz  2017           7.25           9.85        6900    Petrol
3  wagon r  2011           2.85           4.15        5200    Petrol
4    swift  2014           4.60           6.87       42450    Diesel

  Seller_Type Transmission  Owner
0      Dealer       Manual      0
1      Dealer       Manual      0
2      Dealer       Manual      0
3      Dealer       Manual      0
4      Dealer       Manual      0
CSV file saved successfully!

In [ ]:
# Reading Excel
df_excel = pd.read_excel("/content/FSI-2023-DOWNLOAD.xlsx", sheet_name="Sheet1")
print("First 5 rows of Excel:")
print(df_excel.head())

# Writing Excel
df_excel.to_excel("output.xlsx", index=False, sheet_name="Result")
print("Excel file saved successfully!")

First 5 rows of Excel:
                     Country  Year Rank  Total  S1: Demographic Pressures  \
0                    Somalia  2023  1st  111.9                       10.0
1                      Yemen  2023  2nd  108.9                        9.6
2                South Sudan  2023  3rd  108.5                        9.7
3  Congo Democratic Republic  2023  4th  107.2                        9.7
4                      Syria  2023  5th  107.1                        7.4

   S2: Refugees and IDPs  C3: Group Grievance  \
0                    9.0                  8.7
1                    9.6                  8.8
2                   10.0                  8.6
3                    9.8                  9.4
4                    9.1                  9.1

   E3: Human Flight and Brain Drain  E2: Economic Inequality  E1: Economy  \
0                               8.6                      9.1          9.5
1                               6.4                      7.9          9.9
2                               6.5                      8.6          8.6
3                               6.4                      8.4          8.1
4                               8.0                      6.5          9.6

   P1: State Legitimacy  P2: Public Services  P3: Human Rights  \
0                   9.6                  9.8               9.0
1                   9.8                  9.6               9.6
2                   9.8                  9.7               8.7
3                   9.3                  9.3               9.3
4                  10.0                  9.0               9.1

   C1: Security Apparatus  C2: Factionalized Elites  X1: External Intervention
0                     9.5                      10.0                        9.1
1                     8.6                       9.9                        9.2
2                     9.9                       9.2                        9.2
3                     8.8                       9.6                        9.1
4                     9.4                       9.9                       10.0
Excel file saved successfully!

In [ ]:
import pandas as pd

df_json = pd.read_json("/content/iris-parquet.json", lines=True)
print("First 5 rows of JSON:")
print(df_json.head())


# Writing JSON
df_json.to_json("output.json", orient="records", indent=4)
print("JSON file saved successfully!")

First 5 rows of JSON:
   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
JSON file saved successfully!

In [ ]:
# Reading Text File
with open("interviewhelp.txt", "r") as f:
    text_data = f.readlines()
print("First 5 lines from text file:")
print(text_data[:5])

# Writing Text File
with open("output.txt", "w") as f:
    f.write("This is a test text file.\nHello Students!")
print("Text file saved successfully!")

First 5 lines from text file:
['How do you handle missing data in a dataset?\n', 'How would you use data science to develop an investment strategy?\n', 'What financial instruments are you familiar with?\n', 'How do you keep up with the latest developments in data science and financial markets?\n', 'What is overfitting, and how can you prevent it?\n']
Text file saved successfully!

In [ ]:
# Reading HTML table
url = "https://www.w3schools.com/html/html_tables.asp"
tables = pd.read_html(url)   # returns list of DataFrames
print(f"Found {len(tables)} tables")
print(tables[0].head())      # print first table

# Writing DataFrame to HTML
tables[0].to_html("output.html", index=False)
print("HTML file saved successfully!")

Found 2 tables
                        Company          Contact  Country
0           Alfreds Futterkiste     Maria Anders  Germany
1    Centro comercial Moctezuma  Francisco Chang   Mexico
2                  Ernst Handel    Roland Mendel  Austria
3                Island Trading    Helen Bennett       UK
4  Laughing Bacchus Winecellars  Yoshi Tannamuri   Canada
HTML file saved successfully!

In [ ]:
# Create a sample HTML file
sample_html = """
<html>
<head><title>Sample Student Table</title></head>
<body>
<h2>Student Marks</h2>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Subject</th>
    <th>Marks</th>
  </tr>
  <tr>
    <td>Alice</td>
    <td>Math</td>
    <td>85</td>
  </tr>
  <tr>
    <td>Bob</td>
    <td>Science</td>
    <td>90</td>
  </tr>
  <tr>
    <td>Charlie</td>
    <td>History</td>
    <td>78</td>
  </tr>
</table>
</body>
</html>
"""

# Save it as an HTML file
with open("students.html", "w") as f:
    f.write(sample_html)

print("Sample HTML file 'students.html' created.")

Sample HTML file 'students.html' created.

In [ ]:
import pandas as pd

# Read HTML table into DataFrame
tables = pd.read_html("students.html")  # returns list of DataFrames
df = tables[0]

print("Data from HTML table:")
print(df)

# Write DataFrame to HTML file
df.to_html("students_output.html", index=False)
print("Data saved to 'students_output.html'")

Data from HTML table:
      Name  Subject  Marks
0    Alice     Math     85
1      Bob  Science     90
2  Charlie  History     78
Data saved to 'students_output.html'

In [ ]:
from bs4 import BeautifulSoup

with open("index.html", "r", encoding="utf-8") as f:
    html = f.read()

soup = BeautifulSoup(html, "html.parser")

# Extract title
print("Title:", soup.title.string)

# Extract all headings
for h in soup.find_all(["h1", "h2", "h3"]):
    print("Heading:", h.get_text(strip=True))

# Extract all links
for link in soup.find_all("a"):
    print("Link:", link.get("href"))

# Extract all paragraphs
for p in soup.find_all("p"):
    print("Paragraph:", p.get_text(strip=True))

Title: Neural Network Portfolio
Heading: NEURAL NETWORK
Heading: ABOUT ME
Heading: Crafting Digital Experiences
Heading: PROJECTS
Heading: AI Dashboard
Heading: Quantum UI
Heading: Cyber Portal
Heading: Data Stream
Heading: Neon Grid
Heading: Matrix View
Heading: SKILLS
Heading: CONTACT
Heading: Navigation
Heading: Services
Heading: Connect
Link: #home
Link: #home
Link: #about
Link: #projects
Link: #skills
Link: #contact
Link: #about
Link: #home
Link: #about
Link: #projects
Link: #skills
Link: #contact
Link: #
Link: #
Link: #
Link: #
Link: #
Link: #
Link: #
Link: https://www.tooplate.com
Paragraph: Web Developer & Digital Architect
Paragraph: I'm a passionate web developer specializing in creating cutting-edge digital experiences
                    that merge art with technology. My work focuses on building neural network-inspired
                    interfaces that push the boundaries of web design.
Paragraph: With over 5 years of experience in frontend development, I've mastered the art of
                    transforming complex ideas into intuitive, visually stunning web applications.
                    My expertise spans from responsive design to advanced animations and WebGL implementations.
Paragraph: Real-time analytics with neural network visualizations and predictive modeling
Paragraph: Experimental interface system inspired by quantum computing principles
Paragraph: Immersive web experience with advanced WebGL and Three.js effects
Paragraph: Live data visualization platform with real-time streaming capabilities
Paragraph: Cyberpunk-themed design system with glowing components and animations
Paragraph: 3D data exploration tool with virtual reality integration support
Paragraph: Let's build something amazing together
Paragraph: Â© 2048 Neural Network Portfolio. All rights reserved. Provided byTooplate